@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($args...) {
  background: linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -moz-linear-gradient($args);
  background: -webkit-linear-gradient($args);
  background: -ms-linear-gradient($args);
  background: -webkit-linear-gradient($args);
}

@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  -webkit-box-shadow: $args;
  -khtml-box-shadow: $args;
  -ms-box-shadow: $args;
  box-shadow: $args;
}

@mixin no-border-radius($side) {
  -moz-border-top-#{$side}-radius: 0px;
  -webkit-border-top-#{$side}-radius: 0px;
  -o-border-top-#{$side}-radius: 0px;
  border-top-#{$side}-radius: 0px;
  -moz-border-bottom-#{$side}-radius: 0px;
  -o-border-bottom-#{$side}-radius: 0px;
  -webkit-border-bottom-#{$side}-radius: 0px;
  border-bottom-#{$side}-radius: 0px;
}
