// Base variables
$baseBackgroundColor: #F5F5F5;
$fontSize: 16px;
$color: #575757;

// Buttons
$buttonBorderColor: #7e3f30;
$buttonTopColor: #B6422E;
$clinkColor: rgb(182,66,46);
$buttonBottomColor: #863325;
$lightenTopColor: lighten($buttonTopColor, 7%);
$lightenBottomColor: lighten($buttonBottomColor, 5%);
$buttonColor: white;

// Notices
$noticeBackgroundColor: #DFECD6;
$noticeBorderColor: #ADB5A8;
$noticeColor: #619A61;

$alertBackgroundColor: #EACAC9;
$alertBorderColor: #C36361;
$alertColor: #C36361;

// Footer
$footerBackgroundColor: #2E2E2E;
