.avatar {
  float: left;
  position: relative;
  float: left;
  margin: 4px 15px 0 0;
  width: 70px;
}

.avatar-overlay {
  position: absolute;
  background: url(avatar-overlay.png) no-repeat;
  width: 68px;
  height: 68px;
  top: 0;
  left: 0;
}
