%button {
  border: 1px solid $buttonBorderColor;
  color: $buttonColor;
  min-width: 60px;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px 9px 6px 9px;
  margin: 10px 0 20px 2px;
  cursor: pointer;
  @include border-radius(4px);
  @include box-shadow(0px 1px 3px #EDEDED, inset 0px 1px 0px #E6634E);
  @include linear-gradient(top, $buttonTopColor, $buttonBottomColor);

  &:hover, &:active {
    color: white;
    text-decoration: none;
    @include linear-gradient(top, $lightenTopColor,$lightenBottomColor);
  }
}

.btn { @extend %button; }
