%field {
  border: 1px solid #CCC;
  font-family: "Source Sans Pro";
  margin-bottom: 6px;
  padding: 3px 3px 2px 7px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
  background: white;
  @include box-shadow(inset 2px 2px 2px rgba(0,0,0,0.12));
}

label {
  display: block;
  width: 150px;
  margin: 1px 0 10px 0;
}

textarea {
  min-height: 200px;
  height: 200px;
  min-width: 500px;
  width: 500px;
  outline: none;
  padding: 10px;
  @extend %field;
  @include border-radius(4px);
  &.admin { width: 98%; }
}

input[type="text"], input[type="password"], input[type="email"] {
  height: 25px;
  outline: none;
  @extend %field;
  @include border-radius(4px);
}

input[type="submit"] {
  height: 30px;
  padding-top: 4px;
  @extend %btn;
}

.input { margin-bottom: 15px; }
