.pagination {
  a, em, span {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 2px;
    text-align: center;
    border: 1px solid #C8C8C8;
    text-decoration: none;
    @include border-radius(4px);
    width: 20px!important;
    height: 20px!important;
    line-height: 1.2em;
    background: #F8F8F8;
  }

  a:hover {

    color: white;
    border: 1px solid $buttonBorderColor;
    @include linear-gradient(top, $buttonTopColor, $buttonBottomColor);
  }

  .current {
    color: white;
    font-style: normal;
    border: 1px solid $buttonBorderColor;
    @include linear-gradient(top, $buttonTopColor, $buttonBottomColor);
  }
}
