div.social_links
  = link_to image_tag("twitter.svg"), twitter_path, :title => "Twitter"
  = link_to image_tag("github.svg"), github_path, :title => "Github"
  = link_to image_tag("rss.svg"), "http://feeds.feedburner.com/robindupret", :title => "RSS"
