<% title "Conditions générales d'utilisation" %>
<h1><%= yield(:title) %></h1>

<p>Sur cette page vous retrouverez toutes les informations nécessaires à l'utilisation de ce blog. Ce blog est un site personnel à but non lucratif. Les projets présentés ne sont pas présentés pour leur faire de la publicité. Il s'agit de projets que j'aime utiliser et que je connais.</p>

<h2>Règles</h2>

<p>Voici une liste de règles a respecter lorsque vous utilisez le site et en particulier lorsque vous utilisez le système de commentaires :</p>

<ul>
	<li>Les propos racistes ou à caractères pornographiques sont interdits.</li>
	<li>Les propos concernant le piratage ou les téléchargments illégaux sont à proscrire !</li>
	<li>Les insultes envers qui que ce soit sont à proscrire également</li>
	<li>Lorsque vous postez un commentaire, pensez à être poli !</li>
	<li>Une orthographe correcte (pas non plus irréprochable ; tout le monde fait des erreurs, moi le premier !) est importante ; le langage SMS est à bannir. Tous message en langage SMS se verra édité ou supprimé.</li>
	<li>Le flood et la publicité sont interdits ! (le troll peut être tolléré :-°)</li>
</ul> 

<h2>Gestion des données</h2>

<p>La seule donnée pouvant être stocké dans la base de données du site est votre adresse IP. Cette adresse servira entre autres à vous bannir du site en cas de non respect des règles.<p>

<p>Les seuls cookies du site sont les cookies qui retiennent votre nom d'utilisateur et votre adresse e-mail.</p> 

<p>Aucune donnée n'est ensuite revendu ou envoyé à un autre site ou organisme. Les données sont stockées uniquement pour une question d'accécibilité.</p> 

<h2>Sanctions</h2>

<p>Si les règles évoqués précedemment ne sont pas respectés, votre commentaire peut-être édité, supprimé ou vous pouvez être bannit selon le degrès de non repsect des règles !</p>